.navbar .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.navbar .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }

#kontakte .ui-icon { background: url(../Images/112-group.png) 50% 50% no-repeat; background-size: 24px 22px;}

#profil .ui-icon{ background:   url(../Images/111-user.png) 50% 50% no-repeat; background-size: 24px 21px;}

#nachrichten .ui-icon{ background:  url(../Images/08-chat.png) 50% 50% no-repeat; background-size: 24px 22px;}

#settings .ui-icon{ background:  url(../Images/20-gear2.png) 50% 50% no-repeat; background-size: 26px 28px;}

.navbar li a.aktiv {
	background-color: rgba(255,255,255,.15);
	color: #fff;	
}

.navbar {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	width:100%;
	z-index:1;
}

.ui-content .ui-listview { margin:0px; }